.buttonContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 

}

.button{
  width: 85px;
  height: 85px;
  margin: 5px;
  background-color:white;
  font-weight: 500;
  font-size: 22px;
  border-radius: 5%;
  
}